div {
    border-radius: 5px;
}

#header {
    background-color: #e6f2ff;
    position: fixed;
    z-index: 1;
    font-size: 14px;
    text-align: center;
    border: 1px solid black;
    height: 100px;
    width: 1400px
}

#header p {
    margin: 0px
}

h1 {
    margin: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.left {
    background-color: #cce6ff;
    float: left;
    margin-top: 100px;
    border: 1px solid black;
    padding: 10px;
    width: 650px;
}

.no-circle {
    list-style-type: none;
}

.right {
    background-color: #cce6ff;
    float: right;
    margin-top: 100px;
    border: 1px dotted black;
    padding: 211px 200px 211px 200px;
    width: 275px;
    position: relative;
    margin-right: 22px;
    text-align: center;
}

#footer {
    background-color: #0059b3;
    color: white;
    height: 50px;
    width: 50px;
    clear: both;
    text-align: center;
    border: 1px solid black;
    height: 20px;
    width: 1400px;
    text-align: center
}

#space {
    height: 100px;
}
